*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
    cursor: pointer;
}

header{
    width: 100% ;
    height: 60px;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

header nav{
    display: flex;
    justify-content: flex-end;
    height:inherit;

}

header nav .nav-right-section{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none; 
    justify-content: center;
    align-items: center;
}

nav .nav-right-section a{
    margin-left: 10px;
    margin-right: 10px;
    color: #000000;
}

nav .nav-right-section .menu-icon{
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

nav .nav-right-section img{
    border-radius: 50%;
    margin-left: 10px;
}

nav .nav-right-section :hover{
    text-decoration: underline;
}

nav .nav-right-section .menu-icon:hover {
    box-shadow: 0px 0px 1px 3px rgba(87, 87, 87, 0.425);
}

nav .nav-right-section .profile-pic :hover{
    box-shadow: 0px 0px 1px 3px rgba(87, 87, 87, 0.425);
}

 /*estilos de la seccion del header  */

 main{
    margin-top: 150px;
    text-align: center;
 }

 main .main-logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
 }

 main .main-logo img{
    width: 300px;
 }

main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;   
}
main .main-input-container{
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main .main-input input{
    width: 450px;
    height: 40px;
    outline: none;
    border: none;
}

main .main-input-container:hover {
    box-shadow:0px 0px 1px 3px rgba(150, 150, 150, 0.425); 
    border-color: #dfe1e500;
}

main .main-input-container .micro-icon{
    background-image: url('https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 21px;
    height: 21px;
}

main .main-input-container .search-icon{
    background-image: url('https://img.icons8.com/android/24/000000/search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}

main .main-buttons{
    width: 530px;
    margin: 0 auto;
   
}

main .main-buttons div{
    display: inline-block;

}

main .main-buttons button{
    height: 36px;
    min-width: 54px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0 16px;
    text-align: center;
    cursor: pointer;
}

main .main-buttons button:hover{
    box-shadow:0px 0px 1px 3px rgba(150, 150, 150, 0.425); 
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    border-color: #dfe1e500;
    color: #000000;

}

main .main-links{
    font-size: 1.4rem;
    margin-top: 20px;
}
main .main-links a{
    margin-left: 7px;
}
main .main-links a:hover{
    text-decoration: underline;
}
main .main-links a:visited{
    color: #2514e6;
}
/* Estilos de la seccion principal y de los botones */
footer .footer-location{
    width: 100%;
    height: 50px;
    bottom: 0;
    display: flex;
    align-items: center;
    font-size: 13px;
    background-color:#F2F2F2 ;
    margin-top:375px;
    color: #70757A;
}
footer .footer-location span{
    margin-left:20px ;
}

footer .footer-links{
    width: 100%;
    height: 50px;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 13px;
    background-color:#F2F2F2 ;
    border-top: 1px solid #DADCE0;
    
}
footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
   
    
}

footer .footer-left{
    justify-self: left;
}

footer .footer-right{
    justify-self: right;
}

footer ul li a{
    margin: 10px;
    color: #70757A;
}